<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Character Summary</title>
    <link rel="stylesheet" href="/css/race.css" >
</head>
<body>
        <h1>Summary</h1>
        <div class="center-screen">
            <%var chara = data[0] %>
                <h1>Name: <%=chara.name%></h1>
                <h3>Race: <%=chara.race%></h3>
                <h3>Class: <%=chara.class%></h3>
                <h3>Hit Dice: <%=chara.hd%></h3>
                <h3>Ability</h3>
                <ul>
                    <li>Strength: <%=chara.str%></li>
                    <li>Dexterity: <%=chara.dex%></li>
                    <li>Constitution: <%=chara.con%></li>
                    <li>Intelligence: <%=chara.int%></li>
                    <li>Wisdom: <%=chara.wis%></li>
                    <li>Charisma: <%=chara.cha%></li>
                </ul>
            
        <br>
        <br>
            <div>
                <form action="/app/background" method="send">
                        <button>Start my journey!</button>
                </form>
                <form action="/app/delete_account/" method="send">
                        <p style="text-align:center">Not satisfied?</p>
                        <button>Delete my account</button>
                </form>
                <form action="/app/ability/" method="send">
                    <p style="text-align:center">Not satisfied?</p>
                    <button>Change ability</button>
                </form>
            </div>

        </div>
    
</body>
</html>