<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Making am attack</title>
    <link rel="stylesheet" href="/css/E2.css" >
</head>
<body>
    <h2>You chose to make an attack for your next round.</h2>
    <h2>Related Rules:</h2>
    <h4>
        <%= first %>
    </h4>
    <h4>
        <%= sec %>
    </h4>
    <h3>
        In this case, you only has one target, which is the wolf. You don't have advantage or disadvantage. But keep in mind the wolf has an armor class of 13.
    </h3>

    <br>
    
    <h3>The next step is to roll your attack roll to see if you hit your enemy.</h3>
    <h4>Notice that this is not how much you hurt the enemy. This is to see whether you hit your enemy!</h4>
    <br>
    <h4>
        <%= attroll %>
    </h4>
    <h4>
        <%= modi %>
    </h4>
    <br>
    <h4>There is also some specical cases: </p>
    <h4>
        If you roll a 20, you hit your enemy automatically. If you roll a 1, you attack misses regardless of any modifiers or the target's AC.
    </h4>
    <h2>Now, roll your dice:</h2>
    <button onclick="rolladice()"> roll your dice </button>
    <h4>Your roll is:</h4>
    <p id="player" style="color:rgb(0, 0, 0)"><%= playernum %></p>
    <p id="result" style="color:rgb(0, 0, 0)"><%= result %></p>
    <form action="/app/E2/fight/turns/attack" method="post">
        <button type="submit">Next</button>
    <script>
        function rolladice(){
            document.getElementById("player").style.color="white";
            document.getElementById("result").style.color="white";
        }
    </script>
</body>
</html>