<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step1:Surprise</title>
    <link rel="stylesheet" href="/css/E2.css" >
</head>

<body>
    <h1>&#128293 Fight! &#128293</h1>
    <h3>Related Rules:</h3>
    <h4>
        <%= first %>
    </h4>
    <h4>
        <%= second %>
    </h4>
    <h4>
        <%= third %>
    </h4>
    <h4>
        <%= forth %>
    </h4>
    <h4>
        <%= surp %>
    </h4>
    <br>
    <h2>Step 1: Determine Surprise</h2>
    <h4>
        <%= choice %>
    </h4>
    <button onclick="rolladice()"> roll your dice </button>
    <h4>Your roll is:</h4>
    <p id="player" style="color:black"><%= playernum %></p>
    <h4>The wolf's roll is:</h4>
    <p id="wolf" style="color:black"><%= wolfnum %></p>
    <p id="result" style="color:black"><%= win %></p>
    <form action="/app/E2/fight" method="post">
        <button type="submit">Next</button>
    <script>
        function rolladice(){
            document.getElementById("player").style.color="white";
            document.getElementById("wolf").style.color="white";
            document.getElementById("result").style.color="white";
        }
    </script>
</body>
</html>