<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Damage roll</title>
    <link rel="stylesheet" href="/css/E2.css" >
</head>
<body>
    <h1>Congratulations! you hit the wolf successfully!</h1>
    <h2>Now you need to roll another dice to see how much you harm your enemy</h2>
    <h2>Related rules:</h2>
    <h4>
        <%= dama %>
    </h4>
    <br>
    <h3>
        In this scenario, we assume the wolf will hit you 6 points with 30% of possibility.
    </h3>
    <br>
    <h3>Roll your damage roll:</h3>
    <button onclick="rolladice()"> roll your dice </button>
    <h4>Your roll is:</h4>
    <p id="player" style="color:rgb(0, 0, 0)"><%= playernum %></p>
    <p id="result" style="color:rgb(0, 0, 0)">
        You hurt the wolf with <%= playernum %> points! The wolf still has <%= wolflife %> points left.
    </p>
    <p id="wolf" style="color:rgb(0, 0, 0)">
        The wolf also hits you with <%= wolfharm %> points.
    </p>
    <form action="/app/E2/fight/turns" method="get">
        <button type="submit">Next</button>
    <script>
        function rolladice(){
            document.getElementById("player").style.color="white";
            document.getElementById("result").style.color="white";
            document.getElementById("wolf").style.color="white";
        }
    </script>
</body>
</html>