<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step2&3</title>
</head>
<body>
    <h2>Step 2: Position & Step 3: Roll Initiative</h2>
    <h3>Related Rules:</h3>
    <p>
        <%= position %>
    </p>
    <p>
        <%= initiative %>
    </p>
    <p>
        Position: You are fairly close to the wolf. The wolf is at your front and Alvan is by your side but unable to fight for his injuries.
    </p>
    <p>
        <%= initirule %>
    </p>
    <h4>Roll the initiative to determine the attack order:</h4>
    <button onclick="rolladice()"> roll your dice </button>
    <h4>Your roll is:</h4>
    <p id="player" style="color:white"><%= playernum %></p>
    <h4>The wolf's roll is:</h4>
    <p id="wolf" style="color:white"><%= wolfnum %></p>
    <p id="result" style="color:white"><%= order %></p>
    <form action="/app/E2/fight/turns" method="get">
        <button type="submit">Next</button>
    <script>
        function rolladice(){
            document.getElementById("player").style.color="black";
            document.getElementById("wolf").style.color="black";
            document.getElementById("result").style.color="black";
        }
    </script>
</body>
</html>