<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actions in Combat</title>
</head>
<body>
    <h2>Step 4: Take turns</h2>
    <h3>Related Rules:</h3>
    <p>
        <%= turns %>
    </p>
    <p>
        <%= head %>
    </p>
    <p>
        <%= intro %>
    </p>
    <h3>Choice 1: Attack &#129338</h3>
    <p>
        <%= attack %>
    </p>
    <h3>Choice 2: Dodge &#129336</h3>
    <p>
        <%= dodge %>
    </p>
    <h3>Choice 3: Hide &#128034</h3>
    <p>
        <%= hide %> 
    </p>
    <h2>Now, you can choose your action:</h2>
    <form action="/app/E2/fight/turns/attack" method="get">
        <button type="submit">Attack</button>
        <button type="submit" formaction="/app/E2/fight/turns/dodge">Dodge</button>
    </form>
    <br>
    <form action="/app/E2/fight/turns/hide" method="get">
        <button type="submit">Hide</button>
    </form>
    <br>
    <form action="/app/ending" method="get">
        <button type="submit">end the game</button>
    </form>
</body>
</html>